.gauge {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.gauge span {
    text-align: center;
    border-top: 2px black;
    border-top-style: ridge;
    width: 50%;
}

.alertBox {
    height: 40px;
}